@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.custom-btn:hover {
    background-color: #c28336;
    border-color: #c28336;
}

.custom-btn:disabled {
    background-color: #e99e43 !important;
    border-color: #e99e43 !important;
}

.custom-btn,
.custom-btn:focus,
.custom-btn.focus,
.custom-btn:focus:active,
.custom-btn:active {
    background-color: #e99e43;
    border-color: #e99e43;
    box-shadow: none;
    border-radius: 7px;
}

.custom-card {
    border-radius: 20px;
}
